openapi: 3.1.0
info:
    title: OpenRouter API
    version: 1.0.0
    description: OpenAI-compatible API with additional OpenRouter features
    contact:
        name: OpenRouter Support
        url: https://openrouter.ai/docs
        email: support@openrouter.ai
    license:
        name: MIT
        url: https://opensource.org/licenses/MIT
servers:
    - url: https://openrouter.ai/api/v1
      description: Production server
      x-speakeasy-server-id: production
security:
    - apiKey: []
externalDocs:
    description: OpenRouter Documentation
    url: https://openrouter.ai/docs
components:
    schemas:
        OpenAIResponsesResponseStatus:
            type: string
            enum:
                - completed
                - incomplete
                - in_progress
                - failed
                - cancelled
                - queued
            x-speakeasy-unknown-values: allow
        FileCitation:
            type: object
            properties:
                type:
                    type: string
                    enum:
                        - file_citation
                file_id:
                    type: string
                filename:
                    type: string
                index:
                    type: number
            required:
                - type
                - file_id
                - filename
                - index
            example:
                type: file_citation
                file_id: file-abc123
                filename: research_paper.pdf
                index: 0
        URLCitation:
            type: object
            properties:
                type:
                    type: string
                    enum:
                        - url_citation
                url:
                    type: string
                title:
                    type: string
                start_index:
                    type: number
                end_index:
                    type: number
            required:
                - type
                - url
                - title
                - start_index
                - end_index
            example:
                type: url_citation
                start_index: 0
                end_index: 42
                title: OpenRouter Documentation
                url: https://openrouter.ai/docs
        FilePath:
            type: object
            properties:
                type:
                    type: string
                    enum:
                        - file_path
                file_id:
                    type: string
                index:
                    type: number
            required:
                - type
                - file_id
                - index
            example:
                type: file_path
                file_id: file-xyz789
                index: 0
        OpenAIResponsesAnnotation:
            anyOf:
                - $ref: '#/components/schemas/FileCitation'
                - $ref: '#/components/schemas/URLCitation'
                - $ref: '#/components/schemas/FilePath'
        ResponseOutputText:
            type: object
            properties:
                type:
                    type: string
                    enum:
                        - output_text
                text:
                    type: string
                annotations:
                    type: array
                    items:
                        $ref: '#/components/schemas/OpenAIResponsesAnnotation'
                logprobs:
                    type: array
                    items:
                        type: object
                        properties:
                            token:
                                type: string
                            bytes:
                                type: array
                                items:
                                    type: number
                            logprob:
                                type: number
                            top_logprobs:
                                type: array
                                items:
                                    type: object
                                    properties:
                                        token:
                                            type: string
                                        bytes:
                                            type: array
                                            items:
                                                type: number
                                        logprob:
                                            type: number
                                    required:
                                        - token
                                        - bytes
                                        - logprob
                        required:
                            - token
                            - bytes
                            - logprob
                            - top_logprobs
            required:
                - type
                - text
            example:
                type: output_text
                text: The capital of France is Paris.
                annotations:
                    - type: url_citation
                      start_index: 0
                      end_index: 42
                      title: Paris - Wikipedia
                      url: https://en.wikipedia.org/wiki/Paris
        OpenAIResponsesRefusalContent:
            type: object
            properties:
                type:
                    type: string
                    enum:
                        - refusal
                refusal:
                    type: string
            required:
                - type
                - refusal
            example:
                type: refusal
                refusal: I'm sorry, I cannot assist with that request
        OutputMessage:
            type: object
            properties:
                id:
                    type: string
                role:
                    type: string
                    enum:
                        - assistant
                type:
                    type: string
                    enum:
                        - message
                status:
                    anyOf:
                        - type: string
                          enum:
                            - completed
                        - type: string
                          enum:
                            - incomplete
                        - type: string
                          enum:
                            - in_progress
                content:
                    type: array
                    items:
                        anyOf:
                            - $ref: '#/components/schemas/ResponseOutputText'
                            - $ref: '#/components/schemas/OpenAIResponsesRefusalContent'
                phase:
                    anyOf:
                        - type: string
                          enum:
                            - commentary
                        - type: string
                          enum:
                            - final_answer
                        - nullable: true
                    description: >-
                        The phase of an assistant message. Use `commentary` for an intermediate assistant message and `final_answer` for the final assistant message. For follow-up requests with models like `gpt-5.3-codex` and later, preserve and resend phase on all assistant messages. Omitting it can degrade performance. Not used for user messages.
            required:
                - id
                - role
                - type
                - content
            example:
                id: msg-abc123
                role: assistant
                type: message
                status: completed
                content:
                    - type: output_text
                      text: Hello! How can I help you today?
        OutputMessageItem:
            allOf:
                - $ref: '#/components/schemas/OutputMessage'
                - type: object
                  properties: {}
            example:
                id: msg-123
                type: message
                role: assistant
                status: completed
                content:
                    - type: output_text
                      text: Hello! How can I help you?
                      annotations: []
            description: An output message item
        ReasoningTextContent:
            type: object
            properties:
                type:
                    type: string
                    enum:
                        - reasoning_text
                text:
                    type: string
            required:
                - type
                - text
            example:
                type: reasoning_text
                text: Let me think step by step about this problem...
        ReasoningSummaryText:
            type: object
            properties:
                type:
                    type: string
                    enum:
                        - summary_text
                text:
                    type: string
            required:
                - type
                - text
            example:
                type: summary_text
                text: Analyzed the problem using first principles
        OutputItemReasoning:
            type: object
            properties:
                type:
                    type: string
                    enum:
                        - reasoning
                id:
                    type: string
                content:
                    type: array
                    items:
                        $ref: '#/components/schemas/ReasoningTextContent'
                summary:
                    type: array
                    items:
                        $ref: '#/components/schemas/ReasoningSummaryText'
                encrypted_content:
                    type: string
                    nullable: true
                status:
                    anyOf:
                        - type: string
                          enum:
                            - completed
                        - type: string
                          enum:
                            - incomplete
                        - type: string
                          enum:
                            - in_progress
            required:
                - type
                - id
                - summary
            example:
                type: reasoning
                id: reasoning-abc123
                summary:
                    - type: summary_text
                      text: Analyzed the problem using first principles
        OutputReasoningItem:
            allOf:
                - $ref: '#/components/schemas/OutputItemReasoning'
                - type: object
                  properties:
                    content:
                        type: array
                        nullable: true
                        items:
                            $ref: '#/components/schemas/ReasoningTextContent'
                    signature:
                        type: string
                        nullable: true
                        description: A signature for the reasoning content, used for verification
                        example: EvcBCkgIChABGAIqQKkSDbRuVEQUk9qN1odC098l9SEj...
                    format:
                        type: string
                        nullable: true
                        enum:
                            - unknown
                            - openai-responses-v1
                            - azure-openai-responses-v1
                            - xai-responses-v1
                            - anthropic-claude-v1
                            - google-gemini-v1
                            - null
                        description: The format of the reasoning content
                        example: anthropic-claude-v1
                        x-speakeasy-unknown-values: allow
            example:
                id: reasoning-123
                type: reasoning
                status: completed
                summary:
                    - type: summary_text
                      text: Analyzed the problem and found the optimal solution.
                content:
                    - type: reasoning_text
                      text: First, we analyze the problem...
                signature: EvcBCkgIChABGAIqQKkSDbRuVEQUk9qN1odC098l9SEj...
                format: anthropic-claude-v1
            description: An output item containing reasoning
        OutputItemFunctionCall:
            type: object
            properties:
                type:
                    type: string
                    enum:
                        - function_call
                id:
                    type: string
                name:
                    type: string
                arguments:
                    type: string
                call_id:
                    type: string
                status:
                    anyOf:
                        - type: string
                          enum:
                            - completed
                        - type: string
                          enum:
                            - incomplete
                        - type: string
                          enum:
                            - in_progress
            required:
                - type
                - name
                - arguments
                - call_id
            example:
                type: function_call
                id: call-abc123
                name: get_weather
                arguments: '{"location":"San Francisco","unit":"celsius"}'
                call_id: call-abc123
        OutputFunctionCallItem:
            allOf:
                - $ref: '#/components/schemas/OutputItemFunctionCall'
                - type: object
                  properties: {}
            example:
                type: function_call
                id: call-abc123
                name: get_weather
                arguments: '{"location":"San Francisco","unit":"celsius"}'
                call_id: call-abc123
        WebSearchSource:
            type: object
            properties:
                type:
                    type: string
                    enum:
                        - url
                url:
                    type: string
            required:
                - type
                - url
        WebSearchStatus:
            type: string
            enum:
                - completed
                - searching
                - in_progress
                - failed
            example: completed
            x-speakeasy-unknown-values: allow
        OutputItemWebSearchCall:
            type: object
            properties:
                type:
                    type: string
                    enum:
                        - web_search_call
                id:
                    type: string
                action:
                    oneOf:
                        - type: object
                          properties:
                            type:
                                type: string
                                enum:
                                    - search
                            query:
                                type: string
                            queries:
                                type: array
                                items:
                                    type: string
                            sources:
                                type: array
                                items:
                                    $ref: '#/components/schemas/WebSearchSource'
                          required:
                            - type
                            - query
                        - type: object
                          properties:
                            type:
                                type: string
                                enum:
                                    - open_page
                            url:
                                type: string
                                nullable: true
                          required:
                            - type
                        - type: object
                          properties:
                            type:
                                type: string
                                enum:
                                    - find_in_page
                            pattern:
                                type: string
                            url:
                                type: string
                          required:
                            - type
                            - pattern
                            - url
                status:
                    $ref: '#/components/schemas/WebSearchStatus'
            required:
                - type
                - id
                - action
                - status
            example:
                type: web_search_call
                id: search-abc123
                action:
                    type: search
                    query: OpenAI API
                status: completed
        OutputWebSearchCallItem:
            allOf:
                - $ref: '#/components/schemas/OutputItemWebSearchCall'
                - type: object
                  properties: {}
            example:
                type: web_search_call
                id: search-abc123
                action:
                    type: search
                    query: OpenAI API
                status: completed
        OutputItemFileSearchCall:
            type: object
            properties:
                type:
                    type: string
                    enum:
                        - file_search_call
                id:
                    type: string
                queries:
                    type: array
                    items:
                        type: string
                status:
                    $ref: '#/components/schemas/WebSearchStatus'
            required:
                - type
                - id
                - queries
                - status
            example:
                type: file_search_call
                id: filesearch-abc123
                queries:
                    - machine learning algorithms
                    - neural networks
                status: completed
        OutputFileSearchCallItem:
            allOf:
                - $ref: '#/components/schemas/OutputItemFileSearchCall'
                - type: object
                  properties: {}
            example:
                type: file_search_call
                id: filesearch-abc123
                queries:
                    - machine learning algorithms
                    - neural networks
                status: completed
        ImageGenerationStatus:
            type: string
            enum:
                - in_progress
                - completed
                - generating
                - failed
            example: completed
            x-speakeasy-unknown-values: allow
        OutputItemImageGenerationCall:
            type: object
            properties:
                type:
                    type: string
                    enum:
                        - image_generation_call
                id:
                    type: string
                result:
                    type: string
                    nullable: true
                    default: null
                status:
                    $ref: '#/components/schemas/ImageGenerationStatus'
            required:
                - type
                - id
                - status
            example:
                type: image_generation_call
                id: imagegen-abc123
                result: iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNk+M9QDwADhgGAWjR9awAAAABJRU5ErkJggg==
                status: completed
        OutputImageGenerationCallItem:
            allOf:
                - $ref: '#/components/schemas/OutputItemImageGenerationCall'
                - type: object
                  properties: {}
            example:
                type: image_generation_call
                id: imagegen-abc123
                result: iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNk+M9QDwADhgGAWjR9awAAAABJRU5ErkJggg==
                status: completed
        OutputServerToolItem:
            type: object
            properties:
                type:
                    type: string
                    pattern: '^openrouter:'
                    description: Server tool type (e.g. openrouter:datetime, openrouter:web_search)
                id:
                    type: string
                status:
                    type: string
                    enum:
                        - completed
                        - in_progress
                        - incomplete
                    x-speakeasy-unknown-values: allow
            required:
                - type
                - status
            additionalProperties:
                nullable: true
            description: A generic OpenRouter server tool output item
            example:
                type: openrouter:web_search
                id: ws_tmp_abc123
                status: completed
        OutputItems:
            anyOf:
                - $ref: '#/components/schemas/OutputMessageItem'
                - $ref: '#/components/schemas/OutputReasoningItem'
                - $ref: '#/components/schemas/OutputFunctionCallItem'
                - $ref: '#/components/schemas/OutputWebSearchCallItem'
                - $ref: '#/components/schemas/OutputFileSearchCallItem'
                - $ref: '#/components/schemas/OutputImageGenerationCallItem'
                - $ref: '#/components/schemas/OutputServerToolItem'
            description: An output item from the response
            example:
                id: msg-abc123
                role: assistant
                type: message
                status: completed
                content:
                    - type: output_text
                      text: Hello! How can I help you today?
        ResponsesErrorField:
            type: object
            nullable: true
            properties:
                code:
                    type: string
                    enum:
                        - server_error
                        - rate_limit_exceeded
                        - invalid_prompt
                        - vector_store_timeout
                        - invalid_image
                        - invalid_image_format
                        - invalid_base64_image
                        - invalid_image_url
                        - image_too_large
                        - image_too_small
                        - image_parse_error
                        - image_content_policy_violation
                        - invalid_image_mode
                        - image_file_too_large
                        - unsupported_image_media_type
                        - empty_image_file
                        - failed_to_download_image
                        - image_file_not_found
                    x-speakeasy-unknown-values: allow
                message:
                    type: string
            required:
                - code
                - message
            description: Error information returned from the API
            example:
                code: rate_limit_exceeded
                message: Rate limit exceeded. Please try again later.
        IncompleteDetails:
            type: object
            nullable: true
            properties:
                reason:
                    type: string
                    enum:
                        - max_output_tokens
                        - content_filter
                    x-speakeasy-unknown-values: allow
        OpenAIResponsesUsage:
            type: object
            properties:
                input_tokens:
                    type: number
                input_tokens_details:
                    type: object
                    properties:
                        cached_tokens:
                            type: number
                    required:
                        - cached_tokens
                output_tokens:
                    type: number
                output_tokens_details:
                    type: object
                    properties:
                        reasoning_tokens:
                            type: number
                    required:
                        - reasoning_tokens
                total_tokens:
                    type: number
            required:
                - input_tokens
                - input_tokens_details
                - output_tokens
                - output_tokens_details
                - total_tokens
        Usage:
            allOf:
                - $ref: '#/components/schemas/OpenAIResponsesUsage'
                - type: object
                  nullable: true
                  properties:
                    cost:
                        type: number
                        format: double
                        description: Cost of the completion
                    is_byok:
                        type: boolean
                        description: Whether a request was made using a Bring Your Own Key configuration
                    cost_details:
                        type: object
                        properties:
                            upstream_inference_cost:
                                type: number
                                format: double
                            upstream_inference_input_cost:
                                type: number
                                format: double
                            upstream_inference_output_cost:
                                type: number
                                format: double
                        required:
                            - upstream_inference_input_cost
                            - upstream_inference_output_cost
            description: Token usage information for the response
            example:
                input_tokens: 10
                output_tokens: 25
                total_tokens: 35
                input_tokens_details:
                    cached_tokens: 0
                output_tokens_details:
                    reasoning_tokens: 0
                cost: 0.0012
                cost_details:
                    upstream_inference_cost: null
                    upstream_inference_input_cost: 0.0008
                    upstream_inference_output_cost: 0.0004
        InputText:
            type: object
            properties:
                type:
                    type: string
                    enum:
                        - input_text
                text:
                    type: string
            required:
                - type
                - text
            description: Text input content item
            example:
                type: input_text
                text: Hello, how can I help you?
        InputImage:
            type: object
            properties:
                type:
                    type: string
                    enum:
                        - input_image
                detail:
                    type: string
                    enum:
                        - auto
                        - high
                        - low
                    x-speakeasy-unknown-values: allow
                image_url:
                    type: string
                    nullable: true
            required:
                - type
                - detail
            description: Image input content item
            example:
                type: input_image
                detail: auto
                image_url: https://example.com/image.jpg
        InputFile:
            type: object
            properties:
                type:
                    type: string
                    enum:
                        - input_file
                file_id:
                    type: string
                    nullable: true
                file_data:
                    type: string
                filename:
                    type: string
                file_url:
                    type: string
            required:
                - type
            description: File input content item
            example:
                type: input_file
                file_id: file-abc123
                filename: document.pdf
        InputAudio:
            type: object
            properties:
                type:
                    type: string
                    enum:
                        - input_audio
                input_audio:
                    type: object
                    properties:
                        data:
                            type: string
                        format:
                            type: string
                            enum:
                                - mp3
                                - wav
                            x-speakeasy-unknown-values: allow
                    required:
                        - data
                        - format
            required:
                - type
                - input_audio
            description: Audio input content item
            example:
                type: input_audio
                input_audio:
                    data: SGVsbG8gV29ybGQ=
                    format: mp3
        ToolCallStatusEnum:
            type: string
            nullable: true
            enum:
                - in_progress
                - completed
                - incomplete
                - null
            example: completed
            x-speakeasy-unknown-values: allow
        BaseInputs:
            anyOf:
                - type: string
                - type: array
                  items:
                    anyOf:
                        - type: object
                          properties:
                            type:
                                type: string
                                enum:
                                    - message
                            role:
                                anyOf:
                                    - type: string
                                      enum:
                                        - user
                                    - type: string
                                      enum:
                                        - system
                                    - type: string
                                      enum:
                                        - assistant
                                    - type: string
                                      enum:
                                        - developer
                            content:
                                anyOf:
                                    - type: array
                                      items:
                                        oneOf:
                                            - $ref: '#/components/schemas/InputText'
                                            - $ref: '#/components/schemas/InputImage'
                                            - $ref: '#/components/schemas/InputFile'
                                            - $ref: '#/components/schemas/InputAudio'
                                        discriminator:
                                            propertyName: type
                                            mapping:
                                                input_text: '#/components/schemas/InputText'
                                                input_image: '#/components/schemas/InputImage'
                                                input_file: '#/components/schemas/InputFile'
                                                input_audio: '#/components/schemas/InputAudio'
                                    - type: string
                            phase:
                                anyOf:
                                    - type: string
                                      enum:
                                        - commentary
                                    - type: string
                                      enum:
                                        - final_answer
                                    - nullable: true
                          required:
                            - role
                            - content
                        - type: object
                          properties:
                            id:
                                type: string
                            type:
                                type: string
                                enum:
                                    - message
                            role:
                                anyOf:
                                    - type: string
                                      enum:
                                        - user
                                    - type: string
                                      enum:
                                        - system
                                    - type: string
                                      enum:
                                        - developer
                            content:
                                type: array
                                items:
                                    oneOf:
                                        - $ref: '#/components/schemas/InputText'
                                        - $ref: '#/components/schemas/InputImage'
                                        - $ref: '#/components/schemas/InputFile'
                                        - $ref: '#/components/schemas/InputAudio'
                                    discriminator:
                                        propertyName: type
                                        mapping:
                                            input_text: '#/components/schemas/InputText'
                                            input_image: '#/components/schemas/InputImage'
                                            input_file: '#/components/schemas/InputFile'
                                            input_audio: '#/components/schemas/InputAudio'
                          required:
                            - id
                            - role
                            - content
                        - type: object
                          properties:
                            type:
                                type: string
                                enum:
                                    - function_call_output
                            id:
                                type: string
                                nullable: true
                            call_id:
                                type: string
                            output:
                                anyOf:
                                    - type: string
                                    - type: array
                                      items:
                                        oneOf:
                                            - $ref: '#/components/schemas/InputText'
                                            - $ref: '#/components/schemas/InputImage'
                                            - $ref: '#/components/schemas/InputFile'
                                        discriminator:
                                            propertyName: type
                                            mapping:
                                                input_text: '#/components/schemas/InputText'
                                                input_image: '#/components/schemas/InputImage'
                                                input_file: '#/components/schemas/InputFile'
                            status:
                                $ref: '#/components/schemas/ToolCallStatusEnum'
                          required:
                            - type
                            - call_id
                            - output
                        - type: object
                          properties:
                            type:
                                type: string
                                enum:
                                    - function_call
                            call_id:
                                type: string
                            name:
                                type: string
                            arguments:
                                type: string
                            id:
                                type: string
                            status:
                                allOf:
                                    - $ref: '#/components/schemas/ToolCallStatusEnum'
                          required:
                            - type
                            - call_id
                            - name
                            - arguments
                        - $ref: '#/components/schemas/OutputItemImageGenerationCall'
                        - $ref: '#/components/schemas/OutputMessage'
                - nullable: true
        RequestMetadata:
            type: object
            nullable: true
            additionalProperties:
                type: string
                maxLength: 512
            description: >-
                Metadata key-value pairs for the request. Keys must be ≤64 characters and cannot contain brackets. Values must be ≤512 characters. Maximum 16 pairs allowed.
            example:
                user_id: '123'
                session_id: abc-def-ghi
        FunctionTool:
            type: object
            properties:
                type:
                    type: string
                    enum:
                        - function
                name:
                    type: string
                description:
                    type: string
                    nullable: true
                strict:
                    type: boolean
                    nullable: true
                parameters:
                    type: object
                    nullable: true
                    additionalProperties:
                        nullable: true
            required:
                - type
                - name
                - parameters
            description: Function tool definition
            example:
                type: function
                name: get_weather
                description: Get the current weather in a location
                parameters:
                    type: object
                    properties:
                        location:
                            type: string
                            description: The city and state
                        unit:
                            type: string
                            enum:
                                - celsius
                                - fahrenheit
                            x-speakeasy-unknown-values: allow
                    required:
                        - location
        SearchContextSizeEnum:
            type: string
            enum:
                - low
                - medium
                - high
            description: Size of the search context for web search tools
            example: medium
            x-speakeasy-unknown-values: allow
        Preview_WebSearchUserLocation:
            type: object
            nullable: true
            properties:
                type:
                    type: string
                    enum:
                        - approximate
                city:
                    type: string
                    nullable: true
                country:
                    type: string
                    nullable: true
                region:
                    type: string
                    nullable: true
                timezone:
                    type: string
                    nullable: true
            required:
                - type
        WebSearchEngineEnum:
            type: string
            enum:
                - auto
                - native
                - exa
                - firecrawl
                - parallel
            description: >-
                Which search engine to use. "auto" (default) uses native if the provider supports it, otherwise Exa. "native" forces the provider's built-in search. "exa" forces the Exa search API. "firecrawl" uses Firecrawl (requires BYOK). "parallel" uses the Parallel search API.
            example: auto
            x-speakeasy-unknown-values: allow
        WebSearchDomainFilter:
            type: object
            nullable: true
            properties:
                allowed_domains:
                    type: array
                    nullable: true
                    items:
                        type: string
                excluded_domains:
                    type: array
                    nullable: true
                    items:
                        type: string
        Preview_WebSearchServerTool:
            type: object
            properties:
                type:
                    type: string
                    enum:
                        - web_search_preview
                search_context_size:
                    $ref: '#/components/schemas/SearchContextSizeEnum'
                user_location:
                    $ref: '#/components/schemas/Preview_WebSearchUserLocation'
                engine:
                    $ref: '#/components/schemas/WebSearchEngineEnum'
                max_results:
                    type: number
                    minimum: 1
                    maximum: 25
                    description: >-
                        Maximum number of search results to return per search call. Defaults to 5. Applies to Exa, Firecrawl, and Parallel engines; ignored with native provider search.
                    example: 5
                filters:
                    $ref: '#/components/schemas/WebSearchDomainFilter'
            required:
                - type
            description: Web search preview tool configuration
            example:
                type: web_search_preview
        Preview_20250311_WebSearchServerTool:
            type: object
            properties:
                type:
                    type: string
                    enum:
                        - web_search_preview_2025_03_11
                search_context_size:
                    $ref: '#/components/schemas/SearchContextSizeEnum'
                user_location:
                    $ref: '#/components/schemas/Preview_WebSearchUserLocation'
                engine:
                    $ref: '#/components/schemas/WebSearchEngineEnum'
                max_results:
                    type: number
                    minimum: 1
                    maximum: 25
                    description: >-
                        Maximum number of search results to return per search call. Defaults to 5. Applies to Exa, Firecrawl, and Parallel engines; ignored with native provider search.
                    example: 5
                filters:
                    $ref: '#/components/schemas/WebSearchDomainFilter'
            required:
                - type
            description: Web search preview tool configuration (2025-03-11 version)
            example:
                type: web_search_preview_2025_03_11
        WebSearchUserLocation:
            type: object
            nullable: true
            properties:
                type:
                    type: string
                    enum:
                        - approximate
                city:
                    type: string
                    nullable: true
                country:
                    type: string
                    nullable: true
                region:
                    type: string
                    nullable: true
                timezone:
                    type: string
                    nullable: true
            description: User location information for web search
            example:
                type: approximate
                city: San Francisco
                country: USA
                region: California
                timezone: America/Los_Angeles
        Legacy_WebSearchServerTool:
            type: object
            properties:
                type:
                    type: string
                    enum:
                        - web_search
                filters:
                    $ref: '#/components/schemas/WebSearchDomainFilter'
                search_context_size:
                    $ref: '#/components/schemas/SearchContextSizeEnum'
                user_location:
                    $ref: '#/components/schemas/WebSearchUserLocation'
                engine:
                    $ref: '#/components/schemas/WebSearchEngineEnum'
                max_results:
                    type: number
                    minimum: 1
                    maximum: 25
                    description: >-
                        Maximum number of search results to return per search call. Defaults to 5. Applies to Exa, Firecrawl, and Parallel engines; ignored with native provider search.
                    example: 5
            required:
                - type
            description: Web search tool configuration
            example:
                type: web_search
                engine: auto
                filters:
                    allowed_domains:
                        - example.com
        WebSearchServerTool:
            type: object
            properties:
                type:
                    type: string
                    enum:
                        - web_search_2025_08_26
                filters:
                    $ref: '#/components/schemas/WebSearchDomainFilter'
                search_context_size:
                    $ref: '#/components/schemas/SearchContextSizeEnum'
                user_location:
                    $ref: '#/components/schemas/WebSearchUserLocation'
                engine:
                    $ref: '#/components/schemas/WebSearchEngineEnum'
                max_results:
                    type: number
                    minimum: 1
                    maximum: 25
                    description: >-
                        Maximum number of search results to return per search call. Defaults to 5. Applies to Exa, Firecrawl, and Parallel engines; ignored with native provider search.
                    example: 5
            required:
                - type
            description: Web search tool configuration (2025-08-26 version)
            example:
                type: web_search_2025_08_26
                engine: auto
                filters:
                    allowed_domains:
                        - example.com
        CompoundFilter:
            type: object
            properties:
                type:
                    type: string
                    enum:
                        - and
                        - or
                    x-speakeasy-unknown-values: allow
                filters:
                    type: array
                    items:
                        type: object
                        additionalProperties:
                            nullable: true
            required:
                - type
                - filters
            description: A compound filter that combines multiple comparison or compound filters
        FileSearchServerTool:
            type: object
            properties:
                type:
                    type: string
                    enum:
                        - file_search
                vector_store_ids:
                    type: array
                    items:
                        type: string
                filters:
                    anyOf:
                        - type: object
                          properties:
                            key:
                                type: string
                            type:
                                type: string
                                enum:
                                    - eq
                                    - ne
                                    - gt
                                    - gte
                                    - lt
                                    - lte
                                x-speakeasy-unknown-values: allow
                            value:
                                anyOf:
                                    - type: string
                                    - type: number
                                      format: double
                                    - type: boolean
                                    - type: array
                                      items:
                                        anyOf:
                                            - type: string
                                            - type: number
                                              format: double
                          required:
                            - key
                            - type
                            - value
                        - $ref: '#/components/schemas/CompoundFilter'
                        - nullable: true
                max_num_results:
                    type: integer
                ranking_options:
                    type: object
                    properties:
                        ranker:
                            type: string
                            enum:
                                - auto
                                - default-2024-11-15
                            x-speakeasy-unknown-values: allow
                        score_threshold:
                            type: number
                            format: double
            required:
                - type
                - vector_store_ids
            description: File search tool configuration
            example:
                type: file_search
                vector_store_ids:
                    - vs_abc123
        ComputerUseServerTool:
            type: object
            properties:
                type:
                    type: string
                    enum:
                        - computer_use_preview
                display_height:
                    type: integer
                display_width:
                    type: integer
                environment:
                    type: string
                    enum:
                        - windows
                        - mac
                        - linux
                        - ubuntu
                        - browser
                    x-speakeasy-unknown-values: allow
            required:
                - type
                - display_height
                - display_width
                - environment
            description: Computer use preview tool configuration
            example:
                type: computer_use_preview
                display_height: 768
                display_width: 1024
                environment: linux
        CodeInterpreterServerTool:
            type: object
            properties:
                type:
                    type: string
                    enum:
                        - code_interpreter
                container:
                    anyOf:
                        - type: string
                        - type: object
                          properties:
                            type:
                                type: string
                                enum:
                                    - auto
                            file_ids:
                                type: array
                                items:
                                    type: string
                            memory_limit:
                                type: string
                                nullable: true
                                enum:
                                    - 1g
                                    - 4g
                                    - 16g
                                    - 64g
                                    - null
                                x-speakeasy-unknown-values: allow
                          required:
                            - type
            required:
                - type
                - container
            description: Code interpreter tool configuration
            example:
                type: code_interpreter
                container: auto
        McpServerTool:
            type: object
            properties:
                type:
                    type: string
                    enum:
                        - mcp
                server_label:
                    type: string
                allowed_tools:
                    anyOf:
                        - type: array
                          items:
                            type: string
                        - type: object
                          properties:
                            tool_names:
                                type: array
                                items:
                                    type: string
                            read_only:
                                type: boolean
                        - nullable: true
                        - nullable: true
                authorization:
                    type: string
                connector_id:
                    type: string
                    enum:
                        - connector_dropbox
                        - connector_gmail
                        - connector_googlecalendar
                        - connector_googledrive
                        - connector_microsoftteams
                        - connector_outlookcalendar
                        - connector_outlookemail
                        - connector_sharepoint
                    x-speakeasy-unknown-values: allow
                headers:
                    type: object
                    nullable: true
                    additionalProperties:
                        type: string
                require_approval:
                    anyOf:
                        - type: object
                          properties:
                            never:
                                type: object
                                properties:
                                    tool_names:
                                        type: array
                                        items:
                                            type: string
                            always:
                                type: object
                                properties:
                                    tool_names:
                                        type: array
                                        items:
                                            type: string
                        - type: string
                          enum:
                            - always
                        - type: string
                          enum:
                            - never
                        - nullable: true
                        - nullable: true
                server_description:
                    type: string
                server_url:
                    type: string
            required:
                - type
                - server_label
            description: MCP (Model Context Protocol) tool configuration
            example:
                type: mcp
                server_label: my-server
                server_url: https://example.com/mcp
        ImageGenerationServerTool:
            type: object
            properties:
                type:
                    type: string
                    enum:
                        - image_generation
                background:
                    type: string
                    enum:
                        - transparent
                        - opaque
                        - auto
                    x-speakeasy-unknown-values: allow
                input_fidelity:
                    type: string
                    nullable: true
                    enum:
                        - high
                        - low
                        - null
                    x-speakeasy-unknown-values: allow
                input_image_mask:
                    type: object
                    properties:
                        image_url:
                            type: string
                        file_id:
                            type: string
                model:
                    type: string
                    enum:
                        - gpt-image-1
                        - gpt-image-1-mini
                    x-speakeasy-unknown-values: allow
                moderation:
                    type: string
                    enum:
                        - auto
                        - low
                    x-speakeasy-unknown-values: allow
                output_compression:
                    type: integer
                output_format:
                    type: string
                    enum:
                        - png
                        - webp
                        - jpeg
                    x-speakeasy-unknown-values: allow
                partial_images:
                    type: integer
                quality:
                    type: string
                    enum:
                        - low
                        - medium
                        - high
                        - auto
                    x-speakeasy-unknown-values: allow
                size:
                    type: string
                    enum:
                        - 1024x1024
                        - 1024x1536
                        - 1536x1024
                        - auto
                    x-speakeasy-unknown-values: allow
            required:
                - type
            description: Image generation tool configuration
            example:
                type: image_generation
                quality: high
        CodexLocalShellTool:
            type: object
            properties:
                type:
                    type: string
                    enum:
                        - local_shell
            required:
                - type
            description: Local shell tool configuration
            example:
                type: local_shell
        ShellServerTool:
            type: object
            properties:
                type:
                    type: string
                    enum:
                        - shell
            required:
                - type
            description: Shell tool configuration
            example:
                type: shell
        ApplyPatchServerTool:
            type: object
            properties:
                type:
                    type: string
                    enum:
                        - apply_patch
            required:
                - type
            description: Apply patch tool configuration
            example:
                type: apply_patch
        CustomTool:
            type: object
            properties:
                type:
                    type: string
                    enum:
                        - custom
                name:
                    type: string
                description:
                    type: string
                format:
                    anyOf:
                        - type: object
                          properties:
                            type:
                                type: string
                                enum:
                                    - text
                          required:
                            - type
                        - type: object
                          properties:
                            type:
                                type: string
                                enum:
                                    - grammar
                            definition:
                                type: string
                            syntax:
                                type: string
                                enum:
                                    - lark
                                    - regex
                                x-speakeasy-unknown-values: allow
                          required:
                            - type
                            - definition
                            - syntax
            required:
                - type
                - name
            description: Custom tool configuration
            example:
                type: custom
                name: my_tool
        ToolChoiceAllowed:
            type: object
            properties:
                type:
                    type: string
                    enum:
                        - allowed_tools
                mode:
                    anyOf:
                        - type: string
                          enum:
                            - auto
                        - type: string
                          enum:
                            - required
                tools:
                    type: array
                    items:
                        type: object
                        additionalProperties:
                            nullable: true
            required:
                - type
                - mode
                - tools
            description: Constrains the model to a pre-defined set of allowed tools
            example:
                type: allowed_tools
                mode: auto
                tools:
                    - type: function
                      name: get_weather
        OpenAIResponsesToolChoice:
            anyOf:
                - type: string
                  enum:
                    - auto
                - type: string
                  enum:
                    - none
                - type: string
                  enum:
                    - required
                - type: object
                  properties:
                    type:
                        type: string
                        enum:
                            - function
                    name:
                        type: string
                  required:
                    - type
                    - name
                - type: object
                  properties:
                    type:
                        anyOf:
                            - type: string
                              enum:
                                - web_search_preview_2025_03_11
                            - type: string
                              enum:
                                - web_search_preview
                  required:
                    - type
                - $ref: '#/components/schemas/ToolChoiceAllowed'
        StoredPromptTemplate:
            type: object
            nullable: true
            properties:
                id:
                    type: string
                variables:
                    type: object
                    nullable: true
                    additionalProperties:
                        anyOf:
                            - type: string
                            - $ref: '#/components/schemas/InputText'
                            - $ref: '#/components/schemas/InputImage'
                            - $ref: '#/components/schemas/InputFile'
            required:
                - id
        ReasoningEffortEnum:
            type: string
            nullable: true
            enum:
                - xhigh
                - high
                - medium
                - low
                - minimal
                - none
                - null
            x-speakeasy-unknown-values: allow
        ReasoningSummaryVerbosityEnum:
            type: string
            nullable: true
            enum:
                - auto
                - concise
                - detailed
                - null
            example: auto
            x-speakeasy-unknown-values: allow
        BaseReasoningConfig:
            type: object
            nullable: true
            properties:
                effort:
                    $ref: '#/components/schemas/ReasoningEffortEnum'
                summary:
                    $ref: '#/components/schemas/ReasoningSummaryVerbosityEnum'
        TruncationEnum:
            type: string
            nullable: true
            enum:
                - auto
                - disabled
                - null
            x-speakeasy-unknown-values: allow
        FormatTextConfig:
            type: object
            properties:
                type:
                    type: string
                    enum:
                        - text
            required:
                - type
            description: Plain text response format
            example:
                type: text
        FormatJsonObjectConfig:
            type: object
            properties:
                type:
                    type: string
                    enum:
                        - json_object
            required:
                - type
            description: JSON object response format
            example:
                type: json_object
        FormatJsonSchemaConfig:
            type: object
            properties:
                type:
                    type: string
                    enum:
                        - json_schema
                name:
                    type: string
                description:
                    type: string
                strict:
                    type: boolean
                    nullable: true
                schema:
                    type: object
                    additionalProperties:
                        nullable: true
            required:
                - type
                - name
                - schema
            description: JSON schema constrained response format
            example:
                type: json_schema
                name: user_info
                description: User information schema
                schema:
                    type: object
                    properties:
                        name:
                            type: string
                        age:
                            type: number
                    required:
                        - name
        Formats:
            anyOf:
                - $ref: '#/components/schemas/FormatTextConfig'
                - $ref: '#/components/schemas/FormatJsonObjectConfig'
                - $ref: '#/components/schemas/FormatJsonSchemaConfig'
            description: Text response format configuration
            example:
                type: text
        TextConfig:
            type: object
            properties:
                format:
                    $ref: '#/components/schemas/Formats'
                verbosity:
                    type: string
                    nullable: true
                    enum:
                        - high
                        - low
                        - medium
                        - null
                    x-speakeasy-unknown-values: allow
            description: Text output configuration including format and verbosity
            example:
                format:
                    type: text
                verbosity: medium
        ServiceTierEnum:
            type: string
            nullable: true
            enum:
                - auto
                - default
                - flex
                - priority
                - scale
                - null
            x-speakeasy-unknown-values: allow
        BaseResponsesResult:
            type: object
            properties:
                id:
                    type: string
                object:
                    type: string
                    enum:
                        - response
                created_at:
                    type: integer
                model:
                    type: string
                status:
                    $ref: '#/components/schemas/OpenAIResponsesResponseStatus'
                completed_at:
                    type: integer
                output:
                    type: array
                    items:
                        oneOf:
                            - $ref: '#/components/schemas/OutputMessage'
                            - $ref: '#/components/schemas/OutputItemReasoning'
                            - $ref: '#/components/schemas/OutputItemFunctionCall'
                            - $ref: '#/components/schemas/OutputItemWebSearchCall'
                            - $ref: '#/components/schemas/OutputItemFileSearchCall'
                            - $ref: '#/components/schemas/OutputItemImageGenerationCall'
                        discriminator:
                            propertyName: type
                            mapping:
                                message: '#/components/schemas/OutputMessage'
                                reasoning: '#/components/schemas/OutputItemReasoning'
                                function_call: '#/components/schemas/OutputItemFunctionCall'
                                web_search_call: '#/components/schemas/OutputItemWebSearchCall'
                                file_search_call: '#/components/schemas/OutputItemFileSearchCall'
                                image_generation_call: '#/components/schemas/OutputItemImageGenerationCall'
                user:
                    type: string
                    nullable: true
                output_text:
                    type: string
                prompt_cache_key:
                    type: string
                    nullable: true
                safety_identifier:
                    type: string
                    nullable: true
                error:
                    $ref: '#/components/schemas/ResponsesErrorField'
                incomplete_details:
                    $ref: '#/components/schemas/IncompleteDetails'
                usage:
                    $ref: '#/components/schemas/OpenAIResponsesUsage'
                max_tool_calls:
                    type: integer
                top_logprobs:
                    type: integer
                max_output_tokens:
                    type: integer
                temperature:
                    type: number
                    format: double
                top_p:
                    type: number
                    format: double
                presence_penalty:
                    type: number
                    format: double
                frequency_penalty:
                    type: number
                    format: double
                instructions:
                    allOf:
                        - $ref: '#/components/schemas/BaseInputs'
                        - anyOf:
                            - type: string
                            - type: array
                              items:
                                anyOf:
                                    - type: object
                                      properties:
                                        type:
                                            type: string
                                            enum:
                                                - message
                                        role:
                                            anyOf:
                                                - type: string
                                                  enum:
                                                    - user
                                                - type: string
                                                  enum:
                                                    - system
                                                - type: string
                                                  enum:
                                                    - assistant
                                                - type: string
                                                  enum:
                                                    - developer
                                        content:
                                            anyOf:
                                                - type: array
                                                  items:
                                                    oneOf:
                                                        - $ref: '#/components/schemas/InputText'
                                                        - $ref: '#/components/schemas/InputImage'
                                                        - $ref: '#/components/schemas/InputFile'
                                                        - $ref: '#/components/schemas/InputAudio'
                                                    discriminator:
                                                        propertyName: type
                                                        mapping:
                                                            input_text: '#/components/schemas/InputText'
                                                            input_image: '#/components/schemas/InputImage'
                                                            input_file: '#/components/schemas/InputFile'
                                                            input_audio: '#/components/schemas/InputAudio'
                                                - type: string
                                        phase:
                                            anyOf:
                                                - type: string
                                                  enum:
                                                    - commentary
                                                - type: string
                                                  enum:
                                                    - final_answer
                                                - nullable: true
                                      required:
                                        - role
                                        - content
                                    - type: object
                                      properties:
                                        id:
                                            type: string
                                        type:
                                            type: string
                                            enum:
                                                - message
                                        role:
                                            anyOf:
                                                - type: string
                                                  enum:
                                                    - user
                                                - type: string
                                                  enum:
                                                    - system
                                                - type: string
                                                  enum:
                                                    - developer
                                        content:
                                            type: array
                                            items:
                                                oneOf:
                                                    - $ref: '#/components/schemas/InputText'
                                                    - $ref: '#/components/schemas/InputImage'
                                                    - $ref: '#/components/schemas/InputFile'
                                                    - $ref: '#/components/schemas/InputAudio'
                                                discriminator:
                                                    propertyName: type
                                                    mapping:
                                                        input_text: '#/components/schemas/InputText'
                                                        input_image: '#/components/schemas/InputImage'
                                                        input_file: '#/components/schemas/InputFile'
                                                        input_audio: '#/components/schemas/InputAudio'
                                      required:
                                        - id
                                        - role
                                        - content
                                    - type: object
                                      properties:
                                        type:
                                            type: string
                                            enum:
                                                - function_call_output
                                        id:
                                            type: string
                                            nullable: true
                                        call_id:
                                            type: string
                                        output:
                                            anyOf:
                                                - type: string
                                                - type: array
                                                  items:
                                                    oneOf:
                                                        - $ref: '#/components/schemas/InputText'
                                                        - $ref: '#/components/schemas/InputImage'
                                                        - $ref: '#/components/schemas/InputFile'
                                                    discriminator:
                                                        propertyName: type
                                                        mapping:
                                                            input_text: '#/components/schemas/InputText'
                                                            input_image: '#/components/schemas/InputImage'
                                                            input_file: '#/components/schemas/InputFile'
                                        status:
                                            allOf:
                                                - $ref: '#/components/schemas/ToolCallStatusEnum'
                                      required:
                                        - type
                                        - call_id
                                        - output
                                    - type: object
                                      properties:
                                        type:
                                            type: string
                                            enum:
                                                - function_call
                                        call_id:
                                            type: string
                                        name:
                                            type: string
                                        arguments:
                                            type: string
                                        id:
                                            type: string
                                        status:
                                            allOf:
                                                - $ref: '#/components/schemas/ToolCallStatusEnum'
                                      required:
                                        - type
                                        - call_id
                                        - name
                                        - arguments
                                    - $ref: '#/components/schemas/OutputItemImageGenerationCall'
                                    - $ref: '#/components/schemas/OutputMessage'
                            - nullable: true
                metadata:
                    $ref: '#/components/schemas/RequestMetadata'
                tools:
                    type: array
                    items:
                        oneOf:
                            - allOf:
                                - $ref: '#/components/schemas/FunctionTool'
                                - type: object
                                  properties: {}
                              description: Function tool definition
                              example:
                                type: function
                                name: get_weather
                                description: Get the current weather in a location
                                parameters:
                                    type: object
                                    properties:
                                        location:
                                            type: string
                                            description: The city and state
                                        unit:
                                            type: string
                                            enum:
                                                - celsius
                                                - fahrenheit
                                            x-speakeasy-unknown-values: allow
                                    required:
                                        - location
                            - $ref: '#/components/schemas/Preview_WebSearchServerTool'
                            - $ref: '#/components/schemas/Preview_20250311_WebSearchServerTool'
                            - $ref: '#/components/schemas/Legacy_WebSearchServerTool'
                            - $ref: '#/components/schemas/WebSearchServerTool'
                            - $ref: '#/components/schemas/FileSearchServerTool'
                            - $ref: '#/components/schemas/ComputerUseServerTool'
                            - $ref: '#/components/schemas/CodeInterpreterServerTool'
                            - $ref: '#/components/schemas/McpServerTool'
                            - $ref: '#/components/schemas/ImageGenerationServerTool'
                            - $ref: '#/components/schemas/CodexLocalShellTool'
                            - $ref: '#/components/schemas/ShellServerTool'
                            - $ref: '#/components/schemas/ApplyPatchServerTool'
                            - $ref: '#/components/schemas/CustomTool'
                tool_choice:
                    $ref: '#/components/schemas/OpenAIResponsesToolChoice'
                parallel_tool_calls:
                    type: boolean
                prompt:
                    $ref: '#/components/schemas/StoredPromptTemplate'
                background:
                    type: boolean
                    nullable: true
                previous_response_id:
                    type: string
                    nullable: true
                reasoning:
                    allOf:
                        - $ref: '#/components/schemas/BaseReasoningConfig'
                        - properties:
                            effort:
                                allOf:
                                    - $ref: '#/components/schemas/ReasoningEffortEnum'
                            summary:
                                allOf:
                                    - $ref: '#/components/schemas/ReasoningSummaryVerbosityEnum'
                service_tier:
                    $ref: '#/components/schemas/ServiceTierEnum'
                store:
                    type: boolean
                truncation:
                    allOf:
                        - $ref: '#/components/schemas/TruncationEnum'
                text:
                    $ref: '#/components/schemas/TextConfig'
            required:
                - id
                - object
                - created_at
                - model
                - status
                - completed_at
                - output
                - error
                - incomplete_details
                - temperature
                - top_p
                - presence_penalty
                - frequency_penalty
                - instructions
                - metadata
                - tools
                - tool_choice
                - parallel_tool_calls
        OpenResponsesResult:
            allOf:
                - $ref: '#/components/schemas/BaseResponsesResult'
                - type: object
                  properties:
                    output:
                        type: array
                        items:
                            $ref: '#/components/schemas/OutputItems'
                    usage:
                        $ref: '#/components/schemas/Usage'
                    instructions:
                        $ref: '#/components/schemas/BaseInputs'
                    reasoning:
                        $ref: '#/components/schemas/BaseReasoningConfig'
                    service_tier:
                        type: string
                        nullable: true
                    truncation:
                        $ref: '#/components/schemas/TruncationEnum'
            description: Complete non-streaming response from the Responses API
            example:
                id: resp-abc123
                object: response
                created_at: 1704067200
                model: gpt-4
                status: completed
                output:
                    - type: message
                      id: msg-abc123
                      status: completed
                      role: assistant
                      content:
                        - type: output_text
                          text: Hello! How can I help you today?
                          annotations: []
                usage:
                    input_tokens: 10
                    output_tokens: 25
                    total_tokens: 35
                    input_tokens_details:
                        cached_tokens: 0
                    output_tokens_details:
                        reasoning_tokens: 0
                tools: []
                tool_choice: auto
                parallel_tool_calls: true
                error: null
                incomplete_details: null
                temperature: null
                top_p: null
                max_output_tokens: null
                metadata: null
                instructions: null
        CreatedEvent:
            type: object
            properties:
                type:
                    type: string
                    enum:
                        - response.created
                response:
                    allOf:
                        - $ref: '#/components/schemas/BaseResponsesResult'
                        - properties:
                            id:
                                type: string
                            object:
                                type: string
                                enum:
                                    - response
                            created_at:
                                type: integer
                            model:
                                type: string
                            status:
                                $ref: '#/components/schemas/OpenAIResponsesResponseStatus'
                            completed_at:
                                type: integer
                            output:
                                type: array
                                items:
                                    oneOf:
                                        - $ref: '#/components/schemas/OutputMessage'
                                        - $ref: '#/components/schemas/OutputItemReasoning'
                                        - $ref: '#/components/schemas/OutputItemFunctionCall'
                                        - $ref: '#/components/schemas/OutputItemWebSearchCall'
                                        - $ref: '#/components/schemas/OutputItemFileSearchCall'
                                        - $ref: '#/components/schemas/OutputItemImageGenerationCall'
                                    discriminator:
                                        propertyName: type
                                        mapping:
                                            message: '#/components/schemas/OutputMessage'
                                            reasoning: '#/components/schemas/OutputItemReasoning'
                                            function_call: '#/components/schemas/OutputItemFunctionCall'
                                            web_search_call: '#/components/schemas/OutputItemWebSearchCall'
                                            file_search_call: '#/components/schemas/OutputItemFileSearchCall'
                                            image_generation_call: '#/components/schemas/OutputItemImageGenerationCall'
                            user:
                                type: string
                                nullable: true
                            output_text:
                                type: string
                            prompt_cache_key:
                                type: string
                                nullable: true
                            safety_identifier:
                                type: string
                                nullable: true
                            error:
                                $ref: '#/components/schemas/ResponsesErrorField'
                            incomplete_details:
                                $ref: '#/components/schemas/IncompleteDetails'
                            usage:
                                $ref: '#/components/schemas/OpenAIResponsesUsage'
                            max_tool_calls:
                                type: integer
                            top_logprobs:
                                type: integer
                            max_output_tokens:
                                type: integer
                            temperature:
                                type: number
                                format: double
                            top_p:
                                type: number
                                format: double
                            presence_penalty:
                                type: number
                                format: double
                            frequency_penalty:
                                type: number
                                format: double
                            instructions:
                                allOf:
                                    - $ref: '#/components/schemas/BaseInputs'
                                    - anyOf:
                                        - type: string
                                        - type: array
                                          items:
                                            anyOf:
                                                - type: object
                                                  properties:
                                                    type:
                                                        type: string
                                                        enum:
                                                            - message
                                                    role:
                                                        anyOf:
                                                            - type: string
                                                              enum:
                                                                - user
                                                            - type: string
                                                              enum:
                                                                - system
                                                            - type: string
                                                              enum:
                                                                - assistant
                                                            - type: string
                                                              enum:
                                                                - developer
                                                    content:
                                                        anyOf:
                                                            - type: array
                                                              items:
                                                                oneOf:
                                                                    - $ref: '#/components/schemas/InputText'
                                                                    - $ref: '#/components/schemas/InputImage'
                                                                    - $ref: '#/components/schemas/InputFile'
                                                                    - $ref: '#/components/schemas/InputAudio'
                                                                discriminator:
                                                                    propertyName: type
                                                                    mapping:
                                                                        input_text: '#/components/schemas/InputText'
                                                                        input_image: '#/components/schemas/InputImage'
                                                                        input_file: '#/components/schemas/InputFile'
                                                                        input_audio: '#/components/schemas/InputAudio'
                                                            - type: string
                                                    phase:
                                                        anyOf:
                                                            - type: string
                                                              enum:
                                                                - commentary
                                                            - type: string
                                                              enum:
                                                                - final_answer
                                                            - nullable: true
                                                  required:
                                                    - role
                                                    - content
                                                - type: object
                                                  properties:
                                                    id:
                                                        type: string
                                                    type:
                                                        type: string
                                                        enum:
                                                            - message
                                                    role:
                                                        anyOf:
                                                            - type: string
                                                              enum:
                                                                - user
                                                            - type: string
                                                              enum:
                                                                - system
                                                            - type: string
                                                              enum:
                                                                - developer
                                                    content:
                                                        type: array
                                                        items:
                                                            oneOf:
                                                                - $ref: '#/components/schemas/InputText'
                                                                - $ref: '#/components/schemas/InputImage'
                                                                - $ref: '#/components/schemas/InputFile'
                                                                - $ref: '#/components/schemas/InputAudio'
                                                            discriminator:
                                                                propertyName: type
                                                                mapping:
                                                                    input_text: '#/components/schemas/InputText'
                                                                    input_image: '#/components/schemas/InputImage'
                                                                    input_file: '#/components/schemas/InputFile'
                                                                    input_audio: '#/components/schemas/InputAudio'
                                                  required:
                                                    - id
                                                    - role
                                                    - content
                                                - type: object
                                                  properties:
                                                    type:
                                                        type: string
                                                        enum:
                                                            - function_call_output
                                                    id:
                                                        type: string
                                                        nullable: true
                                                    call_id:
                                                        type: string
                                                    output:
                                                        anyOf:
                                                            - type: string
                                                            - type: array
                                                              items:
                                                                oneOf:
                                                                    - $ref: '#/components/schemas/InputText'
                                                                    - $ref: '#/components/schemas/InputImage'
                                                                    - $ref: '#/components/schemas/InputFile'
[...]
